services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped

  # falkordb:
  #   image: falkordb/falkordb
  #   container_name: falkordb
  #   ports:
  #     - "3000:3000"
  #     - "6379:6379"
  #   volumes:
  #     - graph_data:/var/lib/falkordb/data

volumes:
  qdrant_data:
  ollama_models:
  # graph_data:
