[project]
name = "cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "core",
    "cyclopts>=4.2.1",
    "rich>=14.2.0",
]

[tool.uv.sources]
core = { path = "../core" }
