name: CLI release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: code-linux-x86_64.bin
          - os: windows-latest
            name: code-windows-x86_64.exe

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: |
            **/pyproject.toml
            **/uv.lock

      - name: Install uv (astral)
        uses: astral-sh/setup-uv@v1

      - name: Build core
        working-directory: ./core
        run: |
          uv sync --no-dev
          uv build
          wheel_file=$(ls -t dist/*.whl | head -n1)
          echo "wheel_file=$(basename "$wheel_file")" >> "$GITHUB_OUTPUT"

      - name: Generate requirements.txt
        working-directory: ./cli
        run: |
          uv export --no-dev --no-emit-package core > requirements.txt

      - name: Install requirements
        run: |
          pip install ./core/dist/${{ steps.build_core.outputs.wheel_file }}
          pip install -r requirements.txt

      - name: Build Executable with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: ./cli/src/main.py
          mode: onefile

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }} Build
          path: |
            build/*.exe
            build/*.bin
